.sqs-block[data-definition-name="website.components.button"] {
  /* Button Block Base Style
=================================================*/
}
.sqs-block[data-definition-name="website.components.button"] .sqs-block-content {
  flex: var(--sqs-block-content-flex, 0);
}
.sqs-block[data-definition-name="website.components.button"] .sqs-stretched {
  flex: 1;
  height: 100%;
}
.sqs-block[data-definition-name="website.components.button"] .sqs-stretched .sqs-block-button-element {
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  flex: 1;
}
.sqs-block[data-definition-name="website.components.button"] .sqs-block-button-container--left {
  text-align: left;
  justify-content: flex-start;
}
.sqs-block[data-definition-name="website.components.button"] .sqs-block-button-container--center {
  text-align: center;
  justify-content: center;
}
.sqs-block[data-definition-name="website.components.button"] .sqs-block-button-container--right {
  text-align: right;
  justify-content: flex-end;
}
.sqs-block[data-definition-name="website.components.button"] [data-has-block-animations] .sqs-block-button-element {
  transition: none !important;
  opacity: 1 !important;
}

.sqs-block[data-definition-name="website.components.form"] .field-error {
  border-radius: 2px;
  background: #CC3B3B url('//assets.squarespace.com/universal/images-v6/standard/icon_close_7_light.png') no-repeat 9px 50%;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  line-height: 23px;
  margin: 12px 0;
  padding: 5px 15px 3px 25px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .form-submission-text:focus:not(:focus-visible),
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .form-submission-html:focus:not(:focus-visible),
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-error:focus:not(:focus-visible) {
  outline: none;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list {
  line-height: normal;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list fieldset,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list legend {
  padding: 0;
  border: 0;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list textarea {
  min-height: 100px;
  resize: vertical;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list textarea.medium {
  min-height: 200px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list textarea.large {
  min-height: 300px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .section {
  margin: 2em 0;
  padding-bottom: 0.3em;
  font-size: 0.9em;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .section.underline {
  border-bottom: 1px solid #999;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .section:nth-child(1) {
  margin: 0 0 2em 0;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .title {
  display: block;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .description {
  padding: 0.5em 0 0.5em;
  font-size: 12px;
  opacity: 0.7;
  display: block;
  white-space: pre-wrap;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .description.required {
  padding: 0;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field {
  position: relative;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field .caption {
  font-size: 12px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field .caption .field-element {
  font-size: 14px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field .field-element {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field .field-element:focus {
  background: #fff;
  transition: background 0.1s ease-in;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field select {
  max-width: 100%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field .prefix {
  position: absolute;
  bottom: 16px;
  left: 8px;
  color: #aaa;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 16px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.twitter .field-element {
  padding-left: 22px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.currency.hassymbol .field-element {
  padding-left: 20px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.website .field-element {
  padding-left: 45px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.checkbox label,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.radio label {
  cursor: pointer;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.checkbox input,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.radio input {
  margin-right: 5px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field .option {
  margin: 6px 0 4px;
  font-size: 13px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.likert .item {
  margin: 1.6em 0 1.6em 0;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.likert .question {
  margin: 0 0 0.5em 0;
  font-size: 0.9em;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.likert .option {
  width: 20%;
  float: left;
  text-align: left;
  border-top: 1px solid #ddd;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.likert .option label {
  margin: 0;
  padding: 0 0 0 1px;
  font-size: 0.9em;
  display: block;
  cursor: pointer;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.likert .option input {
  margin: 10px 0;
  display: block;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .field.likert .option:last-of-type {
  border-right: none;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields .field.two-digits {
  width: 3.5em;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields .field.three-digits {
  width: 4.2em;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields .field.four-digits {
  width: 4.8em;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields .field.ampm {
  width: 4.5em;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.address .field.address1,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.address .field.address2 {
  width: 98%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.address .field.city {
  width: 70%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.address .field.state-province {
  width: 26%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.address .field.zip {
  width: 36%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.address .field.country {
  width: 98%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.payment .field.card-expiry-month {
  width: 40%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .fields.payment .field.card-expiry-year {
  width: 40%;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .form-item.error,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .form-item.error .caption,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .form-item.error .title,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .form-item.error .description {
  color: #BD0000;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .form-item.error input,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field-list .form-item.error textarea {
  border: 1px solid #E99292;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .form-button-wrapper--align-left {
  text-align: left;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .form-button-wrapper--align-center {
  text-align: center;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .form-button-wrapper--align-right {
  text-align: right;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper input[type=submit] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1em 2.5em;
  color: #ffffff;
  background-color: #272727;
  border-width: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .form-submission-text {
  margin-top: 20px;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .field .field-error {
  margin-bottom: 0.5em;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .submitting .field-list {
  opacity: 0.7;
}
.sqs-block[data-definition-name="website.components.form"] .form-wrapper .hidden,
.sqs-block[data-definition-name="website.components.form"] .form-wrapper.hidden {
  display: none;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-blockStatus--overlayMode[data-state="invalid"] {
  border: 1px solid #DB3642;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-blockStatus--overlayMode[data-state="invalid"] .sqs-blockStatus-box-title {
  font-weight: 500;
  font-size: 9.75px;
  line-height: 1rem;
  letter-spacing: 0.75px;
  margin-bottom: 11px;
  color: #0E0E0E;
  text-transform: uppercase;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-blockStatus--overlayMode[data-state="invalid"] .sqs-blockStatus-box-message {
  font-weight: 400;
  font-size: 12px;
  line-height: 1rem;
  color: #0E0E0E;
  margin-bottom: 11px;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-blockStatus--overlayMode[data-state="invalid"] .sqs-blockStatus-alert-badge {
  bottom: 11px;
  top: unset;
  color: #C32D38;
  opacity: 1 !important;
  visibility: visible !important;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-blockStatus--overlayMode[data-state="invalid"] .sqs-blockStatus-box {
  bottom: 6px;
  top: unset;
  min-width: unset;
  padding-top: 16px;
}
.sqs-block[data-definition-name="website.components.form"] .form-block .lightbox-handle-wrapper--align-left {
  text-align: left;
}
.sqs-block[data-definition-name="website.components.form"] .form-block .lightbox-handle-wrapper--align-center {
  text-align: center;
}
.sqs-block[data-definition-name="website.components.form"] .form-block .lightbox-handle-wrapper--align-right {
  text-align: right;
}
.sqs-block[data-definition-name="website.components.form"] .form-block .lightbox-handle {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1em 2.5em;
  color: #ffffff;
  background-color: #272727;
  border-width: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox {
  width: 100%;
  font-size: 14px;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content {
  z-index: 100000000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-inner {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-inner .lightbox-content {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 40px;
  background: white;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper {
  color: #222;
  font-family: inherit;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-title {
  font-size: 22px;
  line-height: 1.2em;
  margin-right: 22px;
  color: #333;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-inner-wrapper form {
  margin-top: 55px;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-inner-wrapper form .radio .option {
  margin-left: 1px;
}
.sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox-content .lightbox-inner .lightbox-content .lightbox-close {
  position: absolute;
  color: #333;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  width: 22px;
  line-height: 22px;
  top: 40px;
  right: 40px;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox .sqs-modal-lightbox-content {
    height: 100vh;
  }
  .sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox .lightbox-inner {
    background: white;
  }
  .sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox .lightbox-inner .lightbox-content {
    margin-top: 0 !important;
  }
  .sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox .lightbox-inner .lightbox-content .form-wrapper input,
  .sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox .lightbox-inner .lightbox-content .form-wrapper select,
  .sqs-block[data-definition-name="website.components.form"] .sqs-modal-lightbox .lightbox-inner .lightbox-content .form-wrapper textarea {
    font-size: max(16px, 1rem) !important;
  }
}

.sqs-block[data-definition-name="website.components.html"] .sqs-html-content {
  position: relative;
  z-index: 0;
}

.sqs-block[data-definition-name="website.components.socialLinks"] {
  /* stylelint-disable less/no-duplicate-variables */
  /* stylelint-disable no-duplicate-selectors */
}
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-block-socialaccountlinks-content {
  --social-links-solid-icon-dark: #222222;
  --social-links-solid-icon-light: #ffffff;
  --social-links-solid-icon-dark-faded: rgba(34, 34, 34, 0.4);
  --social-links-solid-icon-light-faded: rgba(255, 255, 255, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-use--icon,
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-use--mask {
  fill: transparent;
  transition: fill 170ms ease-in-out;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 170ms ease-in-out, opacity 170ms ease-in-out;
  z-index: 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper > div,
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper:hover {
  opacity: 0.8;
}
.social-icons-shape-circle .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  border-radius: 50%;
}
.social-icons-shape-rounded .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  border-radius: 15%;
}
.social-icons-style-border .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  border: 2px solid;
  box-sizing: border-box;
}
.social-icons-style-regular .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  border-radius: 0;
}
.social-icons-style-regular .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper > div {
  transform: scale(2);
}
.social-icons-size-extra-small.social-icons-style-regular .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  width: 16px;
  height: 16px;
}
.social-icons-size-small.social-icons-style-regular .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  width: 20px;
  height: 20px;
}
.social-icons-size-medium.social-icons-style-regular .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper,
.social-icons-size-extra-small:not(.social-icons-style-regular) .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  width: 24px;
  height: 24px;
}
.social-icons-size-large.social-icons-style-regular .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper,
.social-icons-size-small:not(.social-icons-style-regular) .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  width: 28px;
  height: 28px;
}
.social-icons-size-extra-large.social-icons-style-regular .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper,
.social-icons-size-medium:not(.social-icons-style-regular) .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  width: 32px;
  height: 32px;
}
.social-icons-size-large:not(.social-icons-style-regular) .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  width: 36px;
  height: 36px;
}
.social-icons-size-extra-large:not(.social-icons-style-regular) .sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--wrapper {
  width: 48px;
  height: 48px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .sqs-svg-icon--list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icon-alignment-left .sqs-svg-icon--list {
  justify-content: flex-start;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icon-alignment-right .sqs-svg-icon--list {
  justify-content: flex-end;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icon-alignment-center .sqs-svg-icon--list {
  justify-content: center;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 6px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 6px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 3px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small .sqs-svg-icon--list {
  row-gap: 6px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 8px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 8px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 4px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small .sqs-svg-icon--list {
  row-gap: 8px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 8px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 8px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 4px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium .sqs-svg-icon--list {
  row-gap: 8px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 10px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 10px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 5px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-small.social-icons-style-regular .sqs-svg-icon--list,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large .sqs-svg-icon--list {
  row-gap: 10px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 12px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 12px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 6px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-small.social-icons-style-regular .sqs-svg-icon--list,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large .sqs-svg-icon--list {
  row-gap: 12px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 14px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 14px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 7px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-medium.social-icons-style-regular .sqs-svg-icon--list {
  row-gap: 14px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 16px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 16px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 8px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-large.social-icons-style-regular .sqs-svg-icon--list {
  row-gap: 16px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper {
  margin: 0 18px 0 0;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
  margin: 0 0 0 18px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 9px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-size-extra-large.social-icons-style-regular .sqs-svg-icon--list {
  row-gap: 18px;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-regular .sqs-use--icon {
  fill: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-regular .sqs-svg-icon--list:hover .sqs-use--icon {
  fill: var(--social-links-block-main-icon-color, var(--social-icons-color-faded));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-regular .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
  fill: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-border .sqs-svg-icon--wrapper {
  border-color: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-border .sqs-use--icon {
  fill: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-border .sqs-svg-icon--wrapper:hover {
  background-color: var(--social-icons-color);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-border .sqs-svg-icon--wrapper:hover .sqs-use--icon {
  fill: var(--social-icons-solid-icon-color);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-knockout .sqs-use--mask {
  fill: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-knockout .sqs-svg-icon--list:hover .sqs-use--mask {
  fill: var(--social-links-block-main-icon-color, var(--social-icons-color-faded));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-knockout .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
  fill: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-solid .sqs-svg-icon--wrapper {
  background-color: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-solid .sqs-use--icon {
  fill: var(--social-links-block-secondary-icon-color, var(--social-icons-solid-icon-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper {
  background-color: var(--social-links-block-main-icon-color, var(--social-icons-color-faded));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-solid .sqs-svg-icon--list:hover .sqs-use--icon {
  fill: var(--social-links-block-secondary-icon-color, var(--social-icons-solid-icon-color-faded));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover {
  background-color: var(--social-links-block-main-icon-color, var(--social-icons-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
  fill: var(--social-links-block-secondary-icon-color, var(--social-icons-solid-icon-color));
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-black {
  --social-icons-color: #222222;
  --social-icons-color-faded: rgba(34, 34, 34, 0.4);
  --social-icons-solid-icon-color: var(--social-links-solid-icon-light);
  --social-icons-solid-icon-color-faded: var(--social-links-solid-icon-light-faded);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-white {
  --social-icons-color: #ffffff;
  --social-icons-color-faded: rgba(255, 255, 255, 0.4);
  --social-icons-solid-icon-color: var(--social-links-solid-icon-dark);
  --social-icons-solid-icon-color-faded: var(--social-links-solid-icon-dark-faded);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .sqs-svg-icon--wrapper {
  border-color: var(--social-icon-color);
  background-color: var(--social-icon-color);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .sqs-svg-icon--wrapper .sqs-use--icon,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .sqs-svg-icon--wrapper .sqs-use--mask {
  fill: var(--social-icon-color);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:not(:hover) .sqs-use--icon,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:not(:hover) .sqs-use--mask {
  fill: var(--social-icon-color-faded);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:not(:hover) {
  background-color: var(--social-icon-color-faded);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-border .sqs-svg-icon--wrapper:hover .sqs-use--icon,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--wrapper .sqs-use--icon,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
  fill: var(--social-links-solid-icon-light);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-use--icon {
  fill: var(--social-links-solid-icon-light-faded);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--wrapper .sqs-use--mask,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-border .sqs-svg-icon--wrapper .sqs-use--mask,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--wrapper .sqs-use--icon,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--wrapper .sqs-use--mask {
  fill: transparent;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--wrapper,
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard.social-icons-style-border .sqs-svg-icon--wrapper:not(:hover) {
  background-color: transparent;
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .applepodcast {
  --social-icon-color: #000000;
  --social-icon-color-faded: rgba(0, 0, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .bandsintown {
  --social-icon-color: #00b4b3;
  --social-icon-color-faded: rgba(0, 180, 179, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .behance {
  --social-icon-color: #1769ff;
  --social-icon-color-faded: rgba(23, 105, 255, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .chownow {
  --social-icon-color: #dc5d54;
  --social-icon-color-faded: rgba(220, 93, 84, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .codepen {
  --social-icon-color: #222222;
  --social-icon-color-faded: rgba(34, 34, 34, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .dribbble {
  --social-icon-color: #ea4c89;
  --social-icon-color-faded: rgba(234, 76, 137, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .dropbox {
  --social-icon-color: #007ee5;
  --social-icon-color-faded: rgba(0, 126, 229, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .email {
  --social-icon-color: #222222;
  --social-icon-color-faded: rgba(34, 34, 34, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .facebook {
  --social-icon-color: #3b5998;
  --social-icon-color-faded: rgba(59, 89, 152, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .facebook-unauth {
  --social-icon-color: #3b5998;
  --social-icon-color-faded: rgba(59, 89, 152, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .fivehundredpix {
  --social-icon-color: #0099e5;
  --social-icon-color-faded: rgba(0, 153, 229, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .fivehundredpix-unauth {
  --social-icon-color: #0099e5;
  --social-icon-color-faded: rgba(0, 153, 229, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .flickr {
  --social-icon-color: #0063dc;
  --social-icon-color-faded: rgba(0, 99, 220, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .flickr-unauth {
  --social-icon-color: #0063dc;
  --social-icon-color-faded: rgba(0, 99, 220, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .foursquare {
  --social-icon-color: #f94877;
  --social-icon-color-faded: rgba(249, 72, 119, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .foursquare-unauth {
  --social-icon-color: #f94877;
  --social-icon-color-faded: rgba(249, 72, 119, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .github {
  --social-icon-color: #4183c4;
  --social-icon-color-faded: rgba(65, 131, 196, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .github-unauth {
  --social-icon-color: #4183c4;
  --social-icon-color-faded: rgba(65, 131, 196, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .goodreads {
  --social-icon-color: #382110;
  --social-icon-color-faded: rgba(56, 33, 16, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .googleplay {
  --social-icon-color: #5adfcb;
  --social-icon-color-faded: rgba(90, 223, 203, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .google {
  --social-icon-color: #dc4e41;
  --social-icon-color-faded: rgba(220, 78, 65, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .houzz {
  --social-icon-color: #7ac143;
  --social-icon-color-faded: rgba(122, 193, 67, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .imdb {
  --social-icon-color: #e6b91e;
  --social-icon-color-faded: rgba(230, 185, 30, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .instagram {
  --social-icon-color: #e4405f;
  --social-icon-color-faded: rgba(228, 64, 95, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .instagram-unauth {
  --social-icon-color: #e4405f;
  --social-icon-color-faded: rgba(228, 64, 95, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .itunes {
  --social-icon-color: #ec4652;
  --social-icon-color-faded: rgba(236, 70, 82, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .linkedin {
  --social-icon-color: #0976b4;
  --social-icon-color-faded: rgba(9, 118, 180, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .linkedin-unauth {
  --social-icon-color: #0976b4;
  --social-icon-color-faded: rgba(9, 118, 180, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .medium {
  --social-icon-color: #00ab6c;
  --social-icon-color-faded: rgba(0, 171, 108, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .meetup {
  --social-icon-color: #e0393e;
  --social-icon-color-faded: rgba(224, 57, 62, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .pinterest {
  --social-icon-color: #cc2127;
  --social-icon-color-faded: rgba(204, 33, 39, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .pinterest-unauth {
  --social-icon-color: #cc2127;
  --social-icon-color-faded: rgba(204, 33, 39, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .rdio {
  --social-icon-color: #006ed2;
  --social-icon-color-faded: rgba(0, 110, 210, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .reddit {
  --social-icon-color: #ff4500;
  --social-icon-color-faded: rgba(255, 69, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .rss {
  --social-icon-color: #222222;
  --social-icon-color-faded: rgba(34, 34, 34, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .smugmug {
  --social-icon-color: #7dbb00;
  --social-icon-color-faded: rgba(125, 187, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .smugmug-unauth {
  --social-icon-color: #7dbb00;
  --social-icon-color-faded: rgba(125, 187, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .snapchat {
  --social-icon-color: #222222;
  --social-icon-color-faded: rgba(34, 34, 34, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .soundcloud {
  --social-icon-color: #ff6600;
  --social-icon-color-faded: rgba(255, 102, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .soundcloud-unauth {
  --social-icon-color: #ff6600;
  --social-icon-color-faded: rgba(255, 102, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .spotify {
  --social-icon-color: #84bd00;
  --social-icon-color-faded: rgba(132, 189, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .spotify-unauth {
  --social-icon-color: #84bd00;
  --social-icon-color-faded: rgba(132, 189, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .squarespace {
  --social-icon-color: #222222;
  --social-icon-color-faded: rgba(34, 34, 34, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .stitcher {
  --social-icon-color: #1ea9e1;
  --social-icon-color-faded: rgba(30, 169, 225, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .stumbleupon {
  --social-icon-color: #eb4924;
  --social-icon-color-faded: rgba(235, 73, 36, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .thedots {
  --social-icon-color: #8c8070;
  --social-icon-color-faded: rgba(140, 128, 112, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .tidal {
  --social-icon-color: #222222;
  --social-icon-color-faded: rgba(34, 34, 34, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .tripadvisor {
  --social-icon-color: #00b087;
  --social-icon-color-faded: rgba(0, 176, 135, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .tumblr {
  --social-icon-color: #35465d;
  --social-icon-color-faded: rgba(53, 70, 93, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .tumblr-unauth {
  --social-icon-color: #35465d;
  --social-icon-color-faded: rgba(53, 70, 93, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .twitch {
  --social-icon-color: #6441a5;
  --social-icon-color-faded: rgba(100, 65, 165, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .twitter {
  --social-icon-color: #55acee;
  --social-icon-color-faded: rgba(85, 172, 238, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .twitter-unauth {
  --social-icon-color: #55acee;
  --social-icon-color-faded: rgba(85, 172, 238, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .url {
  --social-icon-color: #000000;
  --social-icon-color-faded: rgba(0, 0, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .vevo {
  --social-icon-color: #ff0031;
  --social-icon-color-faded: rgba(255, 0, 49, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .vimeo {
  --social-icon-color: #1ab7ea;
  --social-icon-color-faded: rgba(26, 183, 234, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .vimeo-unauth {
  --social-icon-color: #1ab7ea;
  --social-icon-color-faded: rgba(26, 183, 234, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .vine {
  --social-icon-color: #00b488;
  --social-icon-color-faded: rgba(0, 180, 136, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .vsco {
  --social-icon-color: #ae995a;
  --social-icon-color-faded: rgba(174, 153, 90, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .yelp {
  --social-icon-color: #c41200;
  --social-icon-color-faded: rgba(196, 18, 0, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .youtube {
  --social-icon-color: #e52d27;
  --social-icon-color-faded: rgba(229, 45, 39, 0.4);
}
.sqs-block[data-definition-name="website.components.socialLinks"] .social-icons-color-standard .youtube-unauth {
  --social-icon-color: #e52d27;
  --social-icon-color-faded: rgba(229, 45, 39, 0.4);
}

.sqs-block[data-definition-name="website.components.spacer"] .sqs-block-content {
  visibility: hidden;
}

